.navbar {
    background-color: white;
    color: #151b29;
}

.search {

    background-color: #1b202e;
    padding-right:15px;
    padding-left: 15px;

    /* background-color: rgb(21, 27, 41); */
    display: flex;
    justify-content: center;
    width: 370px;
    align-items: top;
    min-height: 100vh;
}

#logo1{
    border-bottom: 1px solid #e3ac83;
    border-radius: 7%;
}

.Top {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
    color: #ffa260;
    background-color: #151b29;
}

.text-center {
    text-align: center !important;
}
title:hover{
    background-color:dimgray;
    color: red;
}

.Filterout-button {
    border: 1px solid #ffa260;
    border-radius: 10px;
    color: #151B29;
    display: inline-block;
    background-color: white;
    padding: 15px 35px;
    text-decoration: none;
    margin: 15px 0;
    transition: background-color 200ms ease-in-out;
    transition: color 400ms ease-in-out;
    font-weight:900;
}

#Register{
    width: 300px;
    height: 650px;
    padding-top: 10px;
    background-color: #1b202e;
    padding-left: 35px;
    justify-content: center;
    display: flex;
}

#login{
    width: 300px;
    height: 260px;
    padding-top: 10px;
    background-color: #1b202e;
    padding-left: 35px;
    justify-content: center;
    display: flex;
}

.sell{
    width: 370px;
    height: 500px;
    padding-top: 10px;
    background-color: #1b202e;
    padding-left: 25px;
    padding-right: 25px;
}

.buy{
    width: 450px;
    height: 780px;
    padding-top: 10px;
    background-color: #1b202e;
    padding-left: 25px;
    padding-right: 25px;
}

#heading{
    margin-left: 25px;
}

#anchor{
    text-decoration: underline;
}

#button
{
    margin-top: 5px;;
    background-color: #f0f0f0;
    margin: 3px;
    border-radius: 10%;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 10px;
}
#button:hover
{
    background-color: #d4cfcf; 
}

#User_firstName{
    width:230px;
}
#container{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

#signup{
    margin-top: 10px;
    font-weight:500;
    font-size: xx-large;
    margin-bottom: -10px;
    display:flex;
    justify-content: center;
}

#already{
    display: flex;
    justify-content: center;
}
#signin{
    margin-top: 10px;
    font-weight:500;
    font-size: xx-large;
    margin-bottom: -10px;
    display:flex;
    justify-content: center;
}

.Filterout-button:hover{
    background-color:#151b29;
    text-decoration:wavy;
    color: #ffa260;
}