<h1> Register </h1>
<form action="/register" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"  required>
    </div>
    <div>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name"  required>
    </div>
<div>
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name"  required>
</div>
    <label for="major">Major</label>
    <input type="text" id="major" name="major"  required>
<div>
    <label for="phone_number">Phone Number</label>
    <input type="text" id="phone_number" name="phone_number"  required>
</div>

<div>
    <label for="password">Password</label>
    <input type="text" id="password" name="password"  required>
</div>
<button type="submit">Register</button>
</form>
<a href="/login">Login</a>